@import url("./__links/page__links.css");
@import url("../logo/logo.css");
@import url("../break/break.css");

.page {
    min-width: 1100px;
    max-width: 1600px;
    margin: 0 auto;
    font-family: 'Helvetica Neue', Arial, sans-serif;
  }